<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ascorak_Core::asco_admin" title="Ascorak" translation="title" module="Ascorak_Core" resource="Ascorak_Core::admin" />
    </menu>
</config>
